
<h1>Please sign this petition to stop neighbors taking on learning to play the guitar under quarantine!</h1>
{{#if somethingwrong}}
<h3>Please complete all fields before submitting</h3>
{{/if}}
<form method="POST">
    <input type="text" name="first" placeholder="first" autocomplete="off">
    <input type="text" name="last" placeholder="last" autocomplete="off">
    <input type="hidden" name="signature" placeholder="signature" autocomplete="off">
    <canvas width="250" height="35"></canvas>
    <button type='submit'>I'm with you girl</button>
</form>
