<h1>Please tell us some more about yourself</h1>

<form method="POST" class="box">
{{#if somethingwrong}}
<h3>Please provide a valid URL for your website</h3>
{{/if}}
    <input type="text" name="age" placeholder="age" autocomplete="off">
    <input type="text" name="city" placeholder="city" autocomplete="off">
    <input type="text" name="url" placeholder="website" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type='submit'>Continue</button>
</form>


</div id='navbar'>
{{>navbar}}
</div>
