<h1>
We demand that if you haven't learned to play guitar 'til now, quarantine is not the time.
</h1>

<div id="signersNames">

{{#allSigners}}
    <p>
    <a href="{{url}}">
    {{first}}
    </a> 
    {{last}}
    {{city}}
    
    </p>
{{/allSigners}}
<a href="./logout">log me out of here</a>
</div>

