<h1>
Thank you 
{{justSignedName}}
for signing this petition</h1>

<div id="thanks">

<img src={{justSignedSignature}}>
<h2>If you'd like to see who else feels the same way click <a href="./signers">here</a> </h2>
<a href="./logout">log me out of here</a>


</div>