canvas {
    border: 3px red dotted;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows: 170px auto 60px;
}

h1 {
    font-size: 28px;
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik Mono One", sans-serif;
    padding: 20px;
    text-align: center;
}

h2 {
    grid-row: 2;
    grid-column: 2/ 3;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.5);
     border: black 0px solid;
    border-radius: 15px;
    padding: 10px;
}

h3 {
    color: tomato;
    grid-row: 2;
    grid-column: 2 / 3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

h4 {
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
}

input,
canvas,
button {
    margin: 20px;
}

#thanks {
    grid-row: 2;
    grid-column: 2/ 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thanks img {
    background-color: white;
    width: 250px;
    height: 35px;
    margin: 30px;
    border: dotted 3px tomato;
}

.drawing {
    width: 200px;
    /* grid-row: 2/4;
    grid-column: 1/ 4; */
    border: black solid 7px;
    border-radius: 50%;
}

#signersNames,
.mostForms {
    margin-top: 30px;
    grid-row: 2;
    grid-column: 2/ 3;
    display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: "Rubik Mono One", sans-serif;
    z-index: 2;
}

#signersNames p{
     font-family: "Montserrat", sans-serif;
}
#backgroundImage {
    grid-row: 1/4;
    grid-column: 1/ 4;
    width: 100%;
    opacity: 50%;
    z-index: -1;
    
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

.card {
    height: 200px;
    display: flex;
    grid-row: 3;
    grid-column: 2/ 3;
    align-content: center;
    justify-content: center;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 14px;
}

.card a {
    padding: 30px;
}

#deleteSignature {
    margin-top: 30px;
    grid-row: 2;
    grid-column: 2/ 3;
    display: flex;
    align-items: center;
}

#deleteSignature h2 {
    background: rgba(255, 255, 255, 0.5);
    border: black 0px solid;
    border-radius: 15px;
    padding-left: 20px;
}

#deleteSignature button {
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;

    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
